@import "./variables.less"; 
@import "./mixins.less";

//Reset settings 
* {
    .reset();
}

//Uses .block() to set elements listed to block. 
//Also makes default color white and font-family 'Roboto'
html {
    font-family: @sub-family;
    color: @white;
    article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    .block();
    }

    //Home page styling starts
    body {
        p {
            font-family: @sub-family;
        }
        h1 {
            font-size: @medium-text;
            font-family: @head-family;
            color: @gold;
            text-align: center;
        }
        h2 {
            font-family: @head-family;
            color: @gold;
            font-size: @medium-text;
            text-align: center;
            padding-bottom: 1%;
        }
        background: @darker-brown;
        //Adds space between logo and hero image
        header {
            margin-bottom: 116px;
            //The green bar that the logo sits on
            .sub-header {
                background: @green;
                height: 126px;
                border-bottom: 4px solid @darker-green;
            }
            //Removes the other Nav from mobile view
            .nav {
                display: none;
            }
            //Moves hamburger menu to the right and centers text in hamburger menu
            .navbar {
                background: @green;
                justify-content: flex-end;
                padding-top: 15px;
                text-align: center;
            }
            //Changes color of text in hamburger menu
            .navbar-dark .navbar-nav .nav-link {
                color: @white;
            }
            //The color of the selected menu item in the hamburger
            .navbar-dark .navbar-nav .active>.nav-link {
                color: @gold;
            }
            //Font size for the text inside the hamburger menu
            .nav-item {
                font-size: @text;
            }
        }
        main {
            max-width: 900px;
            margin: 0 auto;
            img.hero-home {
                width: 91%;
                box-shadow: @lighter-shadow;
                .frame();
                display: block;
                margin: 21px auto;
            }
            .side-by-side-container {
                display: flex;
                flex-direction: column-reverse;
                padding: 12px 1%;
                button.btn-lg {
                    .home-button();
                    padding: 21px;
                    box-shadow: @shadow;
                    p.p-to-go {
                        color: @brown;
                        font-size: @medium-text;
                        font-family: @head-family;
                        margin: 0px;
                    }
                }
                img.dudes {
                    width: 87%;
                    border-radius: 12px;
                    display: block;
                    margin: 26px auto;
                    box-shadow: @shadow;
                }
            }        
        }
        footer {
            color: white;
            background: @darker-green;
            padding: 48px 0px;
            text-align: center;
            font-family: @head-family;
            font-size: @text;
            .footer-h4 {
                font-size: @medium-text;
                color: @gold;
                font-size: @medium-text;
                color: @gold;
                width: 90%;
                margin: 13px auto;
            }
            .fab {
                font-size: @text + 1.3;
                margin: .5%;
                color: @gold;
        
            }
        }
    }
}

//Food Menu page styling starts

main {
    padding-left: 2%;
        .item {
        font-family: @head-family;
        color: @gold;
        font-size: @text - .1;
    }
        li {
            font-family: @sub-family;
            color: @white;
            font-size: @text - .3;
            list-style-type: none;
            padding-left: 2%;
        }
}

aside {
    text-align: center;
    img {
        width: 60%;
    }
    figcaption {
        font-family: @sub-family;
        color: @gold;
        font-size: @text - .5;
        font-weight: bold;
    }
}

// Contact Page Styling Starts

.contactpage {
    padding: 0 5%;
    p {
        font-family: @sub-family;
        color: @white;
        margin: 4%;
    }
    .contactform {
        font-family: @head-family;
        color: @gold;
        margin-bottom: 11%;
        padding-bottom: 3%;
    }
}

label {
    margin-top: 2%;
}

.home-button {
    color: @darker-brown;
    padding: 2%;
    margin: 3.5% 7%;
}

.form-control {
    margin-right: 4%;
}

img.contact-image {
    width: 75%;
    box-shadow: @lighter-shadow;
    .frame();
    display: block;
    margin: 8% auto 0 auto;
}

// **************** About Page Styling Start ****************

.title-header {
    text-align: center;
}

.about-body p {
    color: @white;
}

.about-body {
    display: flex;
    padding: 3%;

    section {
        width: 100%;
        padding: 0 3%;
    }

    figure {
    width: 100%;
    }
        img {
            width: 100%;
        }
}

.reviews {
    padding: 3%;
    
    img {
        width: 100%;
    }
}

.review-container {
    display: flex;
    padding: 3%;

        p {
            padding: 3%;
        }

        .author {
            color: @gold;
        }
}

// Sets font color of quotes to white
.quote {
    color: @white;
}




//Home Page media query
@media (min-width: 600px) {

    .side-by-side-a,.side-by-side-b {
        width: 50%;
        align-self: center;
    }
    html body main .side-by-side-container {
        flex-direction: revert;
    }

    .navbar {
        text-align: left;
    }
    .img-dudes {
        margin: 0px;
    }
    footer {
        margin-top: 21px;
    }
}

//Food Menu page 750px media query
@media (min-width: 750px) {
    .food-page {
        display: flex;
    }
    main {
        padding-left: 2%;
        h2 {
            text-align: left;
            padding-top: 3%;
        }
    }

//Contact Page
    .contactpage p {
        margin: 4% 2%;
    }
    
}


//Contact page 958px media query
@media (min-width: 975px) {
    .contactpage {
        padding: 100px 3%;
        margin-bottom: 0px;
    .contactform {
        margin-bottom: 0px;
    }
    }
}


//975px media query
@media (min-width: 975px) {

    //Home page stylings
    html body {
        background-image: url(images/dudes-background.jpg);
        background-repeat: repeat-x;
        header {
            margin-bottom: 29px;
            background: @brown;
            padding-top: 20px;
            width: 900px;
            margin: 0 auto;
            height: 213px;
            box-shadow: @shadow;
            .nav {
                display: none;
                display: flex;
                justify-content: center;
                padding: 35px 0 0 247px;
                
            }
            .navbar {
                display: none;
            }
            ul.nav{
                display: flex;
                a.nav-link.current {
                    color: @gold;   
                }
                .nav-link {
                    display: block;
                    padding: .5rem 1rem;
                    font-family: @head-family;
                    font-size: @medium-text;
                    color: @white;
                
                }
            }
        }
        .sub-header {
            width: 900px;
            margin: 46px auto 0 auto;
            .logo-container {
                width: 846px;
                margin: -125px auto 0 auto;
                img.logo {
                    margin: 0px;
                }
            }
        }
        main {
            max-width: 900px;
            margin: 0 auto;
            background: @brown;
            padding-top: 64px;
            margin-top: -27px;
            box-shadow: @shadow;
            .side-by-side-container {
                padding: 17px 16px 49px 16px;
                
            }
        }
        footer {
            width: 900px;
            margin: 0 auto;
        }  
    }

    //Food Menu page stylings

    .food-page {
        max-width: 900px;
        margin: 0 auto;
        main {
        box-shadow: none;
        background: none;
        padding-left: 5%;
        max-width: 500px;
        }
    }
    aside {
        figure {
            max-width: 350px;
            padding: 10% 1% 0 0;
        }
        
    }

    
    
    
}  